<% if @zips.size > 1 %>


	<div style="display: inline;">
		<%= collection_select(nil, :county, @zips.order('res_ratio DESC'), :county, :county_name, {:selected => "#{params[:county]}"}) %>
	</div>
	<div id="showState" style="display: inline;"> 
		<%= render partial: 'countycoll2' %>
	</div>

	
<% else %>

	<div style="display: none;" id="countySelect">
		<%= collection_select(nil, :county, @zips.order('res_ratio DESC'), :county, :county_name, {:selected => "#{params[:county]}"}) %>
	</div>
	<div id="showState" style="display: inline;"> 
		<%= render partial: 'countycoll2' %>
	</div>
	
<% end %>